h1 {
  color: black;
}

img {
  max-width: 100%;
  height: auto;
}

.text {
  color: black;
}

.myContainer {
  display: flex;
  flex-wrap: wrap;
}

.myCol {
  flex-basis: 100%;
}

.cropText {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@media (min-width: 768px) {
  .myCol {
    flex: 0 0 33.33%;
  }  
}